@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: rgb(229, 234, 239);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgb(17, 54, 99);
  font-size: 30px;
  line-height: 1.6;

}

h1,h2,h3 {
  color: rgb(109, 128, 128);
  font-family: 'Poppins', sans-serif;
}

#button-lewagon{
color: #ABC4A1;
text-decoration:none ;
background-color:#c8e6bc;
border-radius: 10px;
padding: 10px;
}

#button-lewagon:hover{
  color: #697066;
  text-decoration: underline;
}

.button-socials{
  color: #ABC4A1;
  text-decoration:none ;
}

.button-socials:hover{
  color: #697066;
  text-align: underline;
}

#profile-photo {
  border-radius: 30%;
  width: 250px;
}

.card-desc{
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  border-radius:2%;
  margin: 20px 0px;
  padding: 40px;
}

.card-socials{
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  border-radius:2%;
  margin: 20px 0px;
  padding: 40px;

}
 .list-socials li {
  display: inline-block;
  letter-spacing: 10px;
 }
